
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Dictionary source files
G__*.c
G__*.cxx
G__*.h

# cmsToyMT files
BusyWaitCalibrate
DispatchDemo

# ROOT data files
*.root

# Other Stuff
.DS_Store
.vscode
*.d
*.bak
*~
.#*
build
doxygen.conf
setmeup.sh
